# base project dependencies 
.venv
# front dependencies
/src/frontend/batalha-naval/node_modules
/src/frontend/batalha-naval/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions